/* src/components/Card.css */

.card {
    border: 1px solid #626262;
    width: 28%;
    background-color: #1D1E23;
    /* background-color: #292D3F;; */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    padding: 16px;
    margin: 16px;

    /* background-color: #fff; */
    color: #FFFFFF;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* Flexbox for centering */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
    text-align: center; /* Center text content */
  }
  
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  

  .dateText{
    font-size: 30px;
  }

  .teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;

  }

  .separator {
    padding: 0 px; /* Add spacing around the "@" symbol */
    margin-top: auto;
    font-weight: bold; /* Optional: Make the "@" stand out */
    color: #bf1212; /* Adjust color as needed */
    text-align: center; /* Ensure the "@" stays centered */
    font-size: xx-large;
    border: solid;
  }